body {
	margin: 0 0;
}

#background{
    background-image: url("images/landing_background.jpg");
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #cccccc;
    display: block;
    background-position: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-repeat: repeat;
    /*background-position: 50% 0;*/
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.title{
	font-family: Bondoni MT;
	font-size:30px;
}
#author{
	font-family: Bondoni MT; 
	font-size:13px;
}
.text{
	margin-top:10%;
	font-family: Bondoni MT;
	font-size: 15px;
	text-align: justify;

}

.button {
     
    /*Step 2: Basic Button Styles*/
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    display: block;
    height: 50;
    width: 65px;
    background: rgba(177,137,4,1);
    border: 1px solid rgba(255,255,255, .5);
     
    /*Step 3: Text Styles*/
    color: rgba(255, 255, 255, 1);
 /*   padding-top: 4px;*/
    padding:4px;
    text-align: center;
    font: bold 12px "Bondoni MT", sans-serif;
     
    /*Step 4: Fancy CSS3 Styles*/
    border-radius: 50px;
    }

/*Step 3: Link Styling*/
a.button {
    text-decoration: none;
    position:center;
}
#inset{
	text-align: center;
    padding-top:20px;
	/*margin-top: -235px;*/
}
#usMap{
	/*margin-top:50px;
	margin-left:-50%;*/
    width: 100%;
    height: auto;
    display:block;
    padding-top:20px;
}

#mapOriginal{
	margin-top:10%;
	height:100%;
	width:100%;
}

#mapOriginalVertical{
    height:100%;
    width:100%;
}

.mapSH{
	margin-left:7%;
}

.bubbles img{
    display: block;
	margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 7%;
    height:150px;
    width:150px;
    border-radius: 50%;
    border: 2px solid #b18904;
}

.bubblesSmall img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    height:150px;
    width:150px;
    border-radius: 50%;
    border: 2px solid #b18904;
}
/*to shift vertical image bubbles down*/
#image_1{
    margin-top:40%;

}

/* to make sure the bubble is not affected by the margin assigned for the larger screens..
 MAKE SURE MATCHES bubblesSmall martin-top*/
#image_1_sm{
    margin-top:15%;
}
