body {
	margin: 0 0;
}


#background{
    background-image: url("LandingPagePhotos/IMG_0355.jpg");
    margin-top: 0px;
    margin-bottom; 0px;
    background-color: #cccccc;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.title{
	font-family: Bondoni MT;
	font-size:30px;
}
#author{
	font-family: Bondoni MT; 
	font-size:13px;
}
.text{
	margin-top:10%;
	font-family: Bondoni MT;
	font-size: 15px;
	text-align: justify;

}

.button {
     
    /*Step 2: Basic Button Styles*/
    margin-top:20px;
    display: block;
    height: 50;
    width: 65px;
    background: rgba(0,65,106,.7);
    border: 1px solid rgba(255,255,255, .5);
     
    /*Step 3: Text Styles*/
    color: rgba(255, 255, 255, 1);
 /*   padding-top: 4px;*/
    padding:4px;
    text-align: center;
    font: bold 12px "Bondoni MT", sans-serif;
     
    /*Step 4: Fancy CSS3 Styles*/
    border-radius: 50px;
    }

  
/*Step 3: Link Styling*/
a.button {
    text-decoration: none;
    position:center;
}
#inset{
	text-align: left;
	margin-top: -235px;
}
#usMap{
	margin-top:50px;
	margin-left:-50%;
}

#mapOriginal{
	margin-top:10%;
	height:700px;
	width:900px;
	
}
.mapSH{
	margin-left:7%;
}

.bubbles{
	padding-left:50%;
}

#image_1{
	margin-top: 20%;
	height:150px;
	width:150px;
	border-radius: 50%;
    border: 2px solid #b18904;

}
#image_2{
	margin-top:20%;
	height:150px;
	width:150px;
	border-radius:50%;
	border: 2px solid #b18904;


}
#image_3{
	margin-top:20%;
	height:150px;
	width:150px;
	border-radius:50%;
	border: 2px solid #b18904;
}

